* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.nav {
    overflow: hidden;
    /* display: flex; */
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    background: #FDFDFD;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.nav a {
    float: right;
    display: flex;
    color: #505050;
    text-align: center;
    padding: 23px 50px;
}

.nav a:hover {
    background-color: #003637;
    color: white;
}

.nav ul {
    float: right;
    margin-right: 50px;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav img {
    max-width: 80%;
    height: auto;
    display: flex;
    float: left;
    text-align: center;
    padding-left: 50px;
    padding-top: 15px;
    background: linear-gradient(359.53deg, rgba(1, 0, 2, 0.6984) 34.38%, rgba(1, 0, 2, 0.6984) 45.77%, rgba(169, 255, 245, 0) 104.34%),
}

.nav ul li {
    display: inline-block;
    text-align: right;
    padding: inherit;    
    font-family: Inter;
    font-size: 16px;
    color: black;
}

.hamburger {
    height: 2px;
    width: 100vw;
    background-color: white;
    border-radius: 10px;
}

h1 {
    font-family: Times;
    font-size: 65px;
    line-height: 70px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}


h2 {
    font-family: Times;
    font-weight: 400;
    font-size: 45px;
    line-height: 64px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

h3 {
    font-family: Times;
    font-size: 26px;
    line-height: 64px;
    letter-spacing: -0.005em;
    color: #003637;
}

p {
    font-family: Verdana;
    font-size: 18px;
    font-weight: 350;
    line-height: 163.4%;
    color: #003637;
}

.hero-box {
    background: url("../Images/sunset.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 90%;
    text-align: left;
}

.main-title {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: left;
    -webkit-box-align: left;
    align-items: left;
}

h4 {
    margin-top: 30px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 21px;
    line-height: 163.4%;
    color: #FFFFFF;
}

h6 {
    margin-top: 70px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    line-height: 163.4%;
    color: #D1D1D1;
}

img.books {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    padding-top: 20px;
    justify-content: left;
}

.links.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;

}


button.get-book1 {
    text-align: center;
    display: inline-block;
    padding: 20px 55px;
    background: white;
    margin-top: 50px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

.get-book1 p {
    background: linear-gradient(to right, #8400C2,#FF00B8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 16px;
}

button.get-book {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 25px 50px;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(81.48deg, #009E52 12.7%, #009FC2 113.44%);
    cursor: pointer;
    border: none;
    border-radius: 30px;
    margin-top: 50px;
}

button:hover {
    background: black;
}

.how-to {
    display: flex;
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}


.overview-box {
    background-color: #371C59;
    background: url("../Images/bg.png");
    color: white;
    text-align: left;
    padding: 100px 200px 50px 150px;
}


.overview-box h2 {
    font-family: Times;
    line-height: 1.3;
    font-weight: 600;
    font-size: 2.5rem;
}

.overview-box p {
    font-family: times;
    font-weight: 400;
    line-height: 190%;
    font-size: 1.4rem;
    color: #DBDBDB;
}

.steps-box {
    color: #003637;
    background: #F7F4F1;
    text-align: center;
    padding: 80px 250px;
}

.conclusion {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}

.conclusion h2 {
    text-align: center;
    color: #003637;
    padding: 100px 200px 0px;
    font-size: 32px;
    line-height: 170%;

}

footer {
    background-color: #003637;
    padding: 50px;
    line-height: 220%;
    text-align: center;
}

footer p {
    color: white;
    font-size: 14px;
}

img.end-image {
    height: auto;
    width: 100%;
}

img.steps {
    max-width: 40%;
    height: auto;
}

.services-heading {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 30%;
    text-align: center;
}

.services-heading h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: left;
    -webkit-box-align: left;
    align-items: left;
    font-size: 50px;
}

.subscription-box {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    float: right;
    max-width: 50%;
    padding: 50px;
}

.services-frame {
    background: #EDFFE4;
}

.sub-image {
    display: flex;
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    float: left;
    max-width: 50%;
}


.services-frame ul {
    font-family: Verdana;
    font-size: 18px;
    color: #114200;
    line-height: 200%;
}


img.service-pic {
    height: auto;
    max-width: 100%;
    align-items: center;
}


img.contact-pic{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    float: left;
    max-width: 50%;
}

.form{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    max-width: 100%;
    margin-top: 50px;
    font-family: times;
    font-size: 20px;
    color: #114200;
    font-weight: 600px;
}

input[type=text], select, textarea{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
}

@media screen and (max-width: 991px) {
    
    .hero-box {
        padding: 100px 30px;
    }
    
    .main-title {
        top: 60%;
    }
    
    .hero-box h1 {
        font-size: 60px;
    }
    
    .hero-box p {
        font-size: 22px;
    }
    
    .overview-box {
        padding: 100px 80px;
    }
    
    .overview-box h2 {
        font-size: 33px;
    }
    
    .overview-box p {
        font-size: 23px;
    }
    
    .steps-box {
        padding: 60px 100px;
    }
    
    
    .conclusion h2 {
        font-size: 26px;
        line-height: normal;
        padding: 70px 60px;
    }
    
    button.get-book {
        margin-top: 2px;
    }
    
    .nav a {
        flex-direction: column;
        float: none;
    }

    .nav img {
        flex-direction: column;
    }

    .nav a ul {
        width: 100vw;
        flex-direction: column;
    }

    .nav a li {
        flex-direction: column;
        text-align: center;
    }
    
    .services-heading h1 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        margin-top: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: left;
        -webkit-box-align: left;
        align-items: left;
        font-size: 40px;
    }

    .subscription-box {
        max-width: 100%;
        align-items: center;
        align-content: center;
        float: none;
        padding: 70px 50px;
        margin: auto;
    }
    
    .subscription-box h3 {
        font-size: 30px;
    }
    .subscription-box p {
        font-size: 20px;
        text-align: center;
    }
    
    .subscription-box li {
        font-size: 18px;
        text-align: center;
     }

    .services-frame {
        background: #EDFFE4;
    }

    .sub-image {
        display: flex;
         -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        float: left;
        max-width: 100%;
        align-items: center;
        align-content: center;
    }


    .services-frame ul {
        font-family: Verdana;
        font-size: 18px;
        color: #114200;
        line-height: 200%;
    }


    img.service-pic {
        height: auto;
        max-width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {

    img.contact-pic{
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        float: none;
        max-width: 100%;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        font-family: times;
        font-size: 20px;
        color: #114200;
        align-items: center;
        font-weight: 600px;
        padding-bottom: 100px;
    }
    
    input[type=text], select, textarea{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-sizing: border-box;
      resize: vertical;
    }
    
    .hero-box {
        padding: 100px 30px;
    }

    .main-title {
        top: 70%;
    }
    
    .hero-box h1 {
        font-size: 50px;
        line-height: normal;
    }

    .hero-box p {
        font-size: 22px;
        line-height: normal;
    }
    
    .overview-box {
        margin: auto;
        width: 100%;
        padding: 100px 40px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    .overview-box p {
        font-size: 20px;
    }
    
    
    .steps-box {
        padding: 40px 30px;
    }
    
    
    .conclusion h2 {
        font-size: 30px;
        line-height: normal;
        padding: 60px 40px;
    }
    
    button.get-book {
        margin-top: 2px;
    }
    
    
    .services-heading h1 {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        margin-top: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: left;
        -webkit-box-align: left;
        align-items: left;
        font-size: 45px;
    }

    .subscription-box {
        max-width: 100%;
        align-items: center;
        align-content: center;
        float: none;
        padding: 40px 50px;
        margin: auto;
    }
    
    .subscription-box h3 {
        font-size: 30px;
    }
    .subscription-box p {
        font-size: 18px;
        text-align: center;
    }
    
    .subscription-box li {
        font-size: 17px;
        text-align: center;
     }

    .services-frame {
        background: #EDFFE4;
    }

    .sub-image {
        display: flex;
         -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        float: left;
        max-width: 100%;
        align-items: center;
        align-content: center;
    }


    .services-frame ul {
        font-family: Verdana;
        font-size: 18px;
        color: #114200;
        line-height: 200%;
    }


    img.service-pic {
        height: auto;
        max-width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 479px) {
    
    .hero-box {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 30px;
    }
    
    .main-title {
        top: 70%;
    }
    
    .hero-box h1 {
        font-size: 45px;
        line-height: normal;
    }
    
    .hero-box h4 {
        font-size: 22px;
    }
    
    
    .hero-box p {
        font-size: 20px;
        line-height: normal;
    }
    
    .overview-box {
        padding: 100px 30px;
    }
    
    .overview-box h2 {
        font-size: 32px;
    }
    
    .overview-box p {
        font-size: 20px;
    }
    
    .steps-box {
        padding: 50px 40px;
    }
    
    
    .conclusion h2 {
        font-size: 26px;
        line-height: normal;
        padding: 70px 60px;
    }
    
    button.get-book {
        margin-top: 2px;
    }

    .services-heading h1 {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        margin-top: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: left;
        -webkit-box-align: left;
        align-items: left;
        font-size: 40px;
    }

    .subscription-box {
        max-width: 100%;
        align-items: center;
        align-content: center;
        float: none;
        padding: 40px 40px;
        margin: auto;
    }
    
    .subscription-box h3 {
        font-size: 30px;
    }
    .subscription-box p {
        font-size: 18px;
        text-align: center;
    }
    
    .subscription-box li {
        font-size: 17px;
        text-align: center;
     }

    .services-frame {
        background: #EDFFE4;
    }

    .sub-image {
        display: flex;
         -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        float: left;
        max-width: 100%;
        align-items: center;
        align-content: center;
    }


    .services-frame ul {
        font-family: Verdana;
        font-size: 18px;
        color: #114200;
        line-height: 200%;
    }


    img.service-pic {
        height: auto;
        max-width: 100%;
        align-items: center;
    }
}

